.header {
    height: 56px;
    margin-bottom: 120px;
    background-color: var(--default-bg-color); /* Apply dynamic background color */
  }
  
  .inner {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: left;
    padding: 1rem;
    height: 72px;
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--text-color); /* Apply dynamic text color */
    font-size: 14px;
    font-weight: 500;
  }
  
  .link:hover {
    background-color: var(--link-hover-color); /* Apply dynamic hover color */
  }
  
  .icon {
    display: none;
  }
  
  .light {
    display: block;
  }
  
  .dark {
    display: none;
  }
  
  /* Adjust the theme-based icon toggle */
  [data-theme='dark'] .light {
    display: none;
  }
  
  [data-theme='dark'] .dark {
    display: block;
  }
  
  [data-theme='dark'] .link[data-active] {
    background-color: var(--secondary-color); /* Active link background for dark mode */
    color: var(--text-color);
  }
  
  /* For the light theme active link */
  [data-theme='light'] .link[data-active] {
    background-color: var(--primary-color); /* Active link background for light mode */
    color: var(--text-color);
  }